@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}


:root {
    --backgroundColor: #171717;
    --secBkgColor: #080808;
    --mainColor: #fc3100;
    --textColor: #f5f5f5;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

header {
    max-width: 50rem;
    display: flex;
    gap: 6rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    position: fixed;
    top: 0;
    z-index: 1;
}
.container-h {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.headerScroll {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 0 0 20px 20px;
}
header nav {
    display: flex;
    gap: 2rem;
}
header nav a {
    color: var(--textColor);
    font-size: 1.2rem;
    transition: .4s ease;
}

header nav a:hover,
header nav .active,
.text-colored {
    color: var(--mainColor);
}
.logo {
    color: var(--mainColor);
    font-size: 30px;
    font-weight: 600;
}
.navbar i {
    display: none;
}
#menu-icon {
    font-size: 25px;
    color: var(--textColor);
    cursor: pointer;
    display: none;
}
section {
    height: 100vh;
    padding: 6.5rem 1.25rem;
    overflow: hidden;
}
.title-section {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    gap: .9rem;
}
.container {
    height: auto;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    padding: 0 1.25rem;
    flex-direction: column;
}
.profile-card {
    width: 100%;
    max-height: 10.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.25rem;
    background-color: var(--secBkgColor);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .8);
}
.profile-img {
    position: relative;
    border: .4rem solid #000;
    width: 150px; height: 150px;
    border-radius: 50%;
}
.profile-img .circle-img {
    position: absolute;
    width: 100%; height: 100%;
    background: var(--backgroundColor);
    border-radius: 50%;
    overflow: hidden;
}
.profile-img .circle-img img {
    position: absolute;
    max-width: 145px;
}
.profile-cont {
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
}
.info h1 {
    line-height: 1.4;
    color: var(--textColor);
    font-size: 2.5rem;
    font-weight: 600;
}
.info h3,
.gradient-text {
    line-height: 1.6;
    font-size: 1.3rem;
    font-weight: normal;
    background: linear-gradient(45deg, var(--mainColor), #ff582f);
    color: transparent;
    background-clip: text;
}
.social-media {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
    font-size: 1rem;
    margin: .9rem 0;
}
.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.3rem;
    width: 8.2rem;
    padding: 2px;
    border-radius: 20px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    opacity: .8;

    &:hover {
        background: var(--mainColor);
        color: var(--secBackgroundColor);
        box-shadow: 0 0 10px var(--mainColor);
        transition: .4s ease;
        opacity: 1;
    }
    
}
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience .experience-row {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.experience-col .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--mainColor);
    margin: 2rem 0 .8rem 2rem;
}
.experience-col .experience-box {
    border-left: .2rem solid var(--mainColor);
}
.experience-box .experience-cont {
    position: relative;
    padding-left: 1rem;
}
.experience-cont .content {
    position: relative;
    padding: 1rem;
    background-color: var(--secBkgColor);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .8);
}
.content .year {
    font-size: 1rem;
    line-height: 2;
    font-weight: 500;
}
.content .year i {
    margin-right: .3rem;
}
.content p {
    line-height: 1.1;
    font-size: 1rem;
    font-weight: 200;
    color: var(--textColor);
    opacity: .6;
}
.experience-box .experience-cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: -.55rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--mainColor);
    border-radius: 50%;
}


/* R E S P O N S I V E */

